<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cap:clean:media-folder" xsi:type="object">Cap\CleanMedia\Console\Command\CleanMediaFolder</item>
                <item name="cap:clean:media-db" xsi:type="object">Cap\CleanMedia\Console\Command\CleanMediaDb</item>
            </argument>
        </arguments>
    </type>
</config>
