<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cap_CleanMedia::cap_head" title="Urban" module="Cap_CleanMedia" sortOrder="100" parent="Magento_Catalog::catalog" resource="Cap_CleanMedia::cap_head" />
        <add id="Cap_CleanMedia::cleanmedia" title="Clean Media" module="Cap_CleanMedia" sortOrder="10" parent="Cap_CleanMedia::cap_head" action="cleanmedia/index" resource="Cap_CleanMedia::cleanmedia" />
    </menu>
</config>